<div class="mb-1 card" style="width: 19rem;" id="<%= dom_id property %>">
  <div id="carousel_<%= dom_id property %>" class="mt-2 mx-2  rounded carousel slide" data-bs-ride="carousel">
    <div class="carousel-pics carousel-inner">
      <% property.pictures.each_with_index do |picture, index| %>
          <div class="carousel-item <%= 'active' if index == 0%>">
            <%= image_tag (picture), class: 'd-block w-100' %>
          </div>
      <% end%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= dom_id property %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= dom_id property %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
      <%= property.name %>
    <p class="pt-0 card-text text-capitalize">
      <strong class="fs-2">
      <%= property.address %>
      </strong>
      <br />
      <br />
      <%= property.rooms %>
       bedrooms
       - 
      <%= property.bathrooms %>
       bath
      <br /><br />
      <strong class="fs-3">          
      R$
      <%= property.price %>
      </strong>
      /mo
      <br />
      <%= link_to "Show this Property", property, class:"btn btn-secondary" %>
    </p>
  </div>
</div>