<div class="card border border-secondary" style="width: 18rem;" id="<%= dom_id property %>">
  <div id="carousel_<%= dom_id property %>" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-pics carousel-inner">
      <% property.pictures.each_with_index do |picture, index| %>
          <div class="carousel-item <%= 'active' if index == 0%>">
            <%= image_tag (picture), class: 'd-block w-100' %>
          </div>
      <% end%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= dom_id property %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= dom_id property %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>
        Name:
      </strong>
      <%= property.name %>
      <br />
      <strong>
        Address:
      </strong>
      <%= property.address %>
      <br />
      <strong>
        Rooms:
      </strong>
      <%= property.rooms %>
      <br />
      <strong>
        Bathrooms:
      </strong>
      <%= property.bathrooms %>
      <br />
      <strong>
        Price:
      </strong>
      <%= property.price %>
      <br />
    </p>
  </div>
</div>